@import "tailwindcss";
:root{
    --mainColor:#5f35f5;
    --mainBgColor:#fcfcfc;
    --authFontColor:#11175d;
    --mainFontColor:#000000;
}
@theme{
    --color-mainColor: var(--mainColor);
    --color-mainBgColor: var(--mainBgColor);
    --color-authFontColor: var(--authFontColor);
    --color-mainFontColor: var(--mainFontcolor);
}